
<div class="wrapper">
    <div class="container pack my-3">
      <h6 class="tittle"><img src="assets/img/icon-arma-tu-paquete.svg">Arma tu Paquete</h6>
      <div class="row" id="idsell">
            <div class="col-lg-5 col-md-7">
                
              <div class="build">
                  <p>Selecciona un número de télefono</p>

                  <select class="custom-select">
                    <option *ngFor="let info of infoNumerosService.info">
                      {{info.msisdn}}
                  </option>  
                  </select>

                  <!--
                  <div class="input-group">
                    <select class="custom-select" id="inputGroupSelect02">
                      <option selected>997766889</option>
                      <option value="1">889977889</option>
                      <option value="2">990055447</option>
                      <option value="3">778899886</option>
                    </select>
                  </div>
                    -->
                  <div>                    
                  <p>Elige cuántos GB quieres comprar</p>
                    <a class="btn btn-secondary-gb active" id="gboption0" onClick="setear(this);">0GB</a>
                    <a class="btn btn-secondary-gb" id="gboption1" onClick="setear(this);">2GB</a>
                    <a class="btn btn-secondary-gb" id="gboption2" onClick="setear(this);">5GB</a>
                    <a class="btn btn-secondary-gb" id="gboption3" onClick="setear(this);">7GB</a>                   
                  </div>
                  <div>
                  <p>Elige cuántos minutos quieres comprar</p>
                    <a class="btn btn-secondary-min active" id="minoption0" onClick="setear(this);">0Min</a>
                    <a class="btn btn-secondary-min" id="minoption1" onClick="setear(this);">100Min</a>
                    <a class="btn btn-secondary-min" id="minoption2" onClick="setear(this);">300Min</a>
                  </div>
                  <div>
                  <p>Selecciona la vigencia</p>
                    <a class="btn btn-secondary-min active" id="vioption1" onClick="setear(this);">7 Días</a>
                    <a class="btn btn-secondary-min" id="vioption2" onClick="setear(this);">15 Días</a>
                    <a class="btn btn-secondary-min" id="vioption3" onClick="setear(this);">30 Días</a>
                  </div>
                </div>

                <div class="rrss container my-3" id="rrss">
                  <div class="row">
                    <div class="col-12 rrss-icon">
                      <img id="icon-fb"  src="assets/img/facebook-gr.svg">
                      <img id="icon-insta"  src="assets/img/instagram-gr.svg">
                      <img id="icon-snap"  src="assets/img/snapchat-gr.svg">
                      <img id="icon-what"  src="assets/img/whatsapp-gr.svg">
                      <img id="icon-msn"  src="assets/img/Messenger-gr.svg">
                      <img id="icon-twi"  src="assets/img/twitter-gr.svg">
                      <img id="icon-claro"  src="assets/img/claroMusica-gr.svg">
                      <img id="icon-waze" class="opacity" src="assets/img/waze-gr.svg">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12">
                        <p>Todos los paquetes incluyen navegación libre en redes sociales</p>
                        <a href="#" class="redes-link" data-toggle="modal" data-target="#Modal-detalles">Ver detalle >></a>
                        <!-- Modal -->
                          <div class="modal fade" id="Modal-detalles">
                            <div class="modal-dialog modal-lg">
                              <div class="modal-content">    
                              <div class="pack">                                        
                                <!-- Modal Header -->
                                <div class="modal-header">
                                  <h4 class="modal-title">Arma tu paquete</h4>
                                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>                                             
                                <!-- Modal body -->
                                <div class="modal-body">
                                  <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                      <li class="breadcrumb-item active"><a href="#">Descripción</a></li>
                                      <li class="breadcrumb-item">Condiciones</li>
                                    </ol>
                                  </nav>
                                    <ul>
                                      <li>Redes Sociales Libres (facebook, Twitter, Messenger, Instagram, Snapchat, Claro Música) Sin descontar de tu saldo</li><br>
                                      <li>Minutos en llamadas todo destino.</li><br>
                                      <li>GB para navegar por internet desde tu movil.</li>
                                    </ul> 
                                </div>                                              
                                <!-- Modal footer -->
                              </div>                                            
                              </div>
                            </div>
                           </div>
                        <!--Fin modal-->
                    </div>
                  </div>
                </div> 

            </div>
            <div class="col-lg-7 col-md-5">
                <div class="resumen" style="width: 17rem;">                  
                  <p class="txt-sm">Resumen de compra</p>
                  <p class="txt-bold">Tu paquete incluye:</p>
                  <div>
                      <div id="res-gb" class="row text-right">                                    
                          <div class="col res-icon"><img src="assets/img/ico_megasPlan.svg"></div>
                          <div class="col-5" id="demo-gb">0 GB</div>                                  
                      </div>
                      <div id="res-min" class="row text-right">                                  
                          <div class="col res-icon"><img id="icon-llamadas" src="assets/img/ico_llamaTodoDestino.svg"></div>
                          <div class="col-5" id="demo-min">0 Min</div>                                  
                      </div>
                      <div id="res-vig" class="row text-right">                             
                          <div class="col res-icon"><img id="icon-vigencia" src="assets/img/ico_reservePeriodicamente.svg"></div>
                          <div class="col-5" id="demo-vig">0 Días</div>                                  
                      </div>
                  </div>
                  <hr>
                  <div class="row total">
                      <div class="col">
                          <p>Total:</p>
                      </div>
                      <div class="col txt-red text-right">
                          <p id="demo-total">$0</p>
                      </div>                                  
                  </div>
                  </div>
                </div>
            </div>

              <div class="row">
                <div class="col-12 col-sm-5">
                  <div class="container center mt-4">
                    <button type="button" id="btnComprar" class="btn btn-danger" disabled onClick="setear(this);">Comprar</button>
                  </div>
                </div>
              </div>
             

             <div class="container">
              <div id="compra-exitosa" class="prueba">
                    <p>Estimado:</p>                 
                    <p>Tu solicitud N° 122333434234 ¡Se ha activado con exito!</p>
                    <p>Comienza a disfrutar de tu paquete por <span class="txt-bold" id="modal-dias">7 días</span> por sólo <span class="txt-bold" id="modal-precio">$3.700</span>.</p>
                    <p>Ya puedes utilizar este servicio desde tu equipo móvil. Recibiras un correo electronico confirmando tu solicitud.</p>
                    <div class="container center mt-4">
                      <button type="button" class="btn btn-danger" onClick="setear(this);">Cerrar</button>
                    </div>
              </div>
            </div>
      </div>

     
    </div>
